{% include "header.html" %}

<html lang="en">
  <body class="bg-light">

<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{ chosen_product }}</h6>
              <small class="text-muted"> {{ chosen_product_desc }}</small>
            </div>
            <span class="text-muted">{{ price }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (EUR)</span>
            <strong>{{ price }}</strong>
          </li>
        </ul>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form action="{{ url_for('show_sessions') }}" method="POST" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="date" class="form-label">Date of Surf</label>
              <input type="date" class="form-control" id="date" name="date" placeholder="01.01.2021" value="" required>
              <div class="invalid-feedback">
                Please enter a date.
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" name="firstname" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
          </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" name="lastname" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email </label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
              <div class="invalid-feedback">
                Please enter a valid email address for updates on your lession.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Example Road 1" required>
              <div class="invalid-feedback">
                Please enter your mailing address.
              </div>
            </div>

            <div class="col-12">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="Berlin" required>
              <div class="invalid-feedback">
                Please enter your hometown.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" name="zip" placeholder="" required>
              <div class="invalid-feedback">
                Zip code required.
              </div>
              </div>


          <div class="col-12">
           <label for="phone" class="form-label">Phone number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="0123456789" required>
            <div class="invalid-feedback">
                Phone number required.
            </div>
          </div>


          <hr class="my-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info" name="spam">
            <label class="form-check-label" for="save-info">Can we spam you?</label>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>



          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to payment</button>
        </form>

      </div>
    </div>
  </main>

</div>


    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

      <script src="{{ url_for('static', filename='js/form-validation.js') }}"></script>
  </body>
</html>
