{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">How did I end up in those colivings?.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am Jarmo. I quit my job because I was tired of it. Originally I wanted to travel the silk road. But, as the Covid situation was</p>
        <p>pretty unstable, I decided to go to Canary Islands which was a place of freedom in (political) Europe at that time. As the sun </p>
        <p>got stronger I decided to move up north to discover Galicia. I was surprised to those places even here.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}